.login-form {
  background-color: white;
  padding: 2rem;
  display: inline-block;
  margin: 230px 750px ;
  padding: 80px 80px 90px 80px;
  background-color: bisque;
  padding-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
  text-align: center;
  font-size:300%;
  
}
input[type="text"],
input[type="password"]
{
  height: 10px;
  border: 1px solid black;
  display: flex;
  padding: 8px 7px;
  margin: 10px;
  padding-left: 70px;  

}
.submit{
 padding: 2px 2px;
 margin-left: 2px;
 font-size: 17px;
}
.ShowPassword{
padding: 2px 2px;
margin-block-start: 10px;
margin-left: 75px;
font-size: 17px;

}

#username{
  margin-left: 1px;
}
#password{
  margin-left: 1px;
}


.registration-form{
  background-color: white;
  padding: 2rem;
  display: inline-block;
  margin: 180px 750px ;
  padding: 80px 80px 90px 80px;
  background-color: bisque;
  padding-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type="age"],
input[type="email"]{
  height: 10px;
  border: 1px solid black;
  display: flex;
  padding: 8px 7px;
  margin: 10px;
  padding-left: 70px;
}
.register{
  font-size: 20px;
  margin-left: 100px;
  margin-top: 20px;
  padding: 5px 5px 5px 5px;
}

#firstName,
#lastName,
#email,
#age{
  margin-left: 1px;
}